body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/** Center the contents of the element **/
.centercontents {
    text-align: center !important;
}

a { 
	color: inherit; 
} 

a:hover
{   
	text-decoration: none;
	color: white;
}

textarea {
   resize: none;
}
